# Add any directories, files, or patterns you don't want to be tracked by version control

node_modules/*
upload/
uploads_work/
vendor/
.idea/
application/config/database.php
*.rar
application/views/pages/upload_success.php
application/views/pages/upload_form.php
